  /* Footer.css */
  footer {
    bottom: 0;
  }
  
  footer h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
  }